.challenge__card__container {
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    padding: 20px;
    margin: 25px;
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    box-shadow: -5px 5px 0 0 rgba(65,117,5,1), -10px 10px 0 0 rgba(65,117,5,0.6), -15px 15px 0 0 rgba(65,117,5,0.4), -20px 20px 0 0 rgba(65,117,5,0.2), -25px 25px 0 0 rgba(65,117,5,0.1);
}

.challenge__card__container > h1 {
    height: 140px;
}

.challenge__card__container > p {
    height: 100px;
}

.challenge__card__container span {
    font-size: 18px;
    margin: 0px 10px ;
    border-radius: 25px;
    background-color: rgb(214, 241, 255);
    padding: 5px;
}

.secondary__btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.secondary__btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

@media screen and (max-width: 520px) {
    .challenge__card__container {
        width: 250px;
        margin: 15px 0px;
    }
}