.overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.hidden {
  display: none;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 90vh;
  background-color: white;
  border-radius: 8px;
  outline: none;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background-color: white;
  font-size: 24px;
  cursor: pointer;
  height: 20px;
  background-color: mintcream;
}

.modal__content {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 520px) {
  .modal {
    width: 75vw;
  }
}